body{
    margin:50px 0px; padding:0px;
    text-align:center;
    font-family:arial,sans-serif;
    font-size: 0.9em;
}
#wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#stuff{
    text-align: left;
    float: left;
}
#stuff h1{
    font-weight: bold;

}
table tr td.field_label{
    font-weight: bold;
}
.error{
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
}
#logo{
    margin-bottom: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-style:solid;
    border-width:8px;
    border-color: #1c3975;
}

#form{
    float: left;
    clear: both;
}
#form input{
    width: 200px;
}
#form #btn-submit{
    width: 75px;
}
#form #reset{
    width: 75px;
}
#contact_boxes input{
    width: 10px;
}
#contact_boxes{
    width: 600px;
}
#content{
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-width:8px;
    border-color: #1c3975;
    padding: 15px;
    width: 720px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    text-align: left;
    /*background: #626d89; /* for non-css3 browsers */
    background: white;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#626d89', endColorstr='#ccd0d9'); /* for IE */
    /*background: -webkit-gradient(linear, left top, left bottom, from(#626d89), to(#ccd0d9)); /* for webkit browsers */
    /*background: -moz-linear-gradient(top,  #626d89,  #ccd0d9); /* for firefox 3.6+ */
}
#footer p{
    font-size: 0.9em;
    clear: both;
}
#otherlogos

#misc{
    clear: both;
    font-size: 0.6em;
}
#misc ul li{
    list-style: bullet;
}
#essays input{
    width: 25px;
}
#essays label a{
    font-weight:bold;
}
#instructions{
    margin-top: 10px;
    margin-bottom: 10px;
}
