AuthName "Polls Admin"
AuthType Basic
AuthUserFile /var/www/vhosts/getpublished.news-leader.com/httpdocs/polls/admin/.htpasswd
AuthGroupFile /dev/null
Require valid-user

<Limit GET POST>
require valid-user
</Limit>